html{
    background-image: url(C:/Users/Proz/Desktop/victor/materias/front-end/aula%204/img/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
 
#perfil_foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top:0;
    padding: 1px;
    background-color: black

}

#perfil_foto:hover{
    background-color:#3333;
    opacity: 0.5;
}

h1{
    font-family: 'Beth Ellen';
    font-size: 70px;
    color:black;
    text-align: center;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li{
    float: left;
}

li a{
    display: block;
    color: #f90000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

li a:hover{
    background-color:brown;
    color: #ffffff;
    opacity: 1.0;
}